<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>M.B.S.</title>
</head>

<body>
    <header>
        <nav>
            <div class="navBar">
                
                <div class="nLink">
                    <img src="/static/img/6.png" alt="logo" style="width: 100px;">
                    <a href="/" class="active" >Home</a>
                    <a href="/item">About me</a>
                    <a href="/contact">Contact</a>
                </div>

                <form action="/#">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="Search.." name="search">
                </form>

            </div>
        </nav>
    </header>
    <div class="banner">
        <div class="banner-text">
            <h1>Made By Shandy</h1>
            <h3>Where Creativity Meets Coziness.</h3>
        </div>
    </div>

    <main>
        <ul>
            <li><a href="">Women</a></li>
            <li><a href="">Men</a></li>
            <li><a href="">plushies</a></li>
            <li><a href="">Macrame</a></li>
        </ul>
    </main>

    <div class="Grand">
        <div class="Intro">
            <div class="1">
                
            </div>
            <div class="2">
                <img src="#" alt="">
            </div>
        </div>

        <div class="Mid">

        </div>
    </div>

    <footer>
        <div class="Fgrand">
            <div class="logo">
                <img src="/static/img/6.png" alt="logo" style="width: 150px;">
            </div>

            <div class="Fnav">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">Wemon</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Plushies</a></li>
                    <li><a href="#">Macrame</a></li>
                </ul>
            </div>

            <div class="Smedia">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="https://www.instagram.com/made.byshandy/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><i class="fa-regular fa-envelope"></i></li>
                </ul>
            </div>
        </div>
    
        
        <div class="copy">
            <p>&copy; 2024 Your Website</p>
        </div>
        
    </footer>
</body>

</html>